#centro-ayuda{
    .header-ayuda{
        font-weight: 600;
        h1{
            color:#000;
            font-size: 20px;
            margin-bottom: 0px;
        }
        p{
            font-size: 20px;
            color: $primary;            
        }
    }
    h2{
        color:$secondary;
        font-size: 20px;
        margin-bottom: 0px;
        text-transform: uppercase;
    }
    .question{
        font-weight: 300;
        p{
            padding-left: 40px;
        }
    }
}